body { color: #000; background-color: #fff; margin: 0; font-family: "Lucida Grande", Arial, sans-serif; }
p { font-size: 9pt; text-decoration: none; }

a { color: #00f; text-decoration: none; }
a:hover { text-decoration: underline; }

h1 { color: #000; font-size: 20pt; margin-bottom: -10px; }
h2 { color: #000; font-size: 11pt; margin-top: 16px; }
h3 { color: #000; font-size: 12pt; margin-bottom: 0; }
h4 { color: #000; font-size: 9pt; font-weight: normal; margin: 0 12px 0 0; }

#frame { text-align: left; margin-top: 12px; margin-right: auto; margin-left: auto; }
#contentleft { margin-top: 38px; float: left; }
#contentcenter { margin-top: 2px; padding: 0; width: 18px; float: left; }
#contentright { margin-top: 18px; padding-left: 30px; float: left; border-left: 1px solid #808080; }
