table thead td.left, table thead th.left {
	border-left: solid 1px #424141 !important;
}

table tbody td.left, table tbody th.left {
	background-image: none !important;
}

table th {
	background: #424141;
	color: #FFF;
	padding: 10px;
	font-weight: bold;
	border-bottom: solid 1px #FFF;
}

table.card {
	margin-top: 30px;
	border: solid 1px #424141 !important;
	border-collapse: collapse;
	line-height: 1.4em;
}

table.card thead td {
	background: #424141;
	color: #FFF;
	border-left: solid 1px #FFF;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

table.card tbody td {
	background: url(../gfx/dotline_tate.gif) repeat-y;
	border-bottom: solid 1px #424141 !important;
	padding: 10px;
}
